<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    
     <p> This is About Page</p>
    <!-- footer -->

    <footer>
        <p>
            created with â¤ by Shefali
        </p>
    </footer>
</body>

</html>